/* @author Bilal Cinarli */

/** -------------------------------------------
    Colors
    ------------------------------------------- **/
/**
 * Named Colors
 *
 * Some named colors for inheriting colors over different variables
 * @default $color-primary    : #009bdc;
 * @default $color-secondary  : #67af00;
 * @default $color-tertiary   : #ffa900;
 * @default $color-cancel     : #e87352;
 * @default $color-error      : $color-cancel;
 * @default $color-text       : #222;
 * @default $color-light-gray : #e5e5e5;
 * @default $color-gray       : #c6c6c6;
 * @default $color-dark-gray  : #a6a6a6;
 * @default $color-white      : #fff;
 * @default $color-black      : #000;
 */
$color-primary    : null;
$color-secondary  : null;
$color-tertiary   : null;
$color-cancel     : null;
$color-error      : null;
$color-text       : null;
$color-light-gray : null;
$color-gray       : null;
$color-dark-gray  : null;
$color-white      : null;
$color-black      : null;


/**
 * Simple colors for general styling
 * @default $base-color: #222
 */
$base-color: $color-text;
$base-anchor-color: $color-text;
$base-anchor-highlight: $color-primary;


/**
 * Border Colors
 *
 * Colors applied to border in focus, disabled, readonly and stationary state
 * @default $base-border-color: #c6c6c6;
 * @default $base-border-highlight: #a6a6a6;
 * @default $base-border-disabled: #e9e9e9;
 * @default $base-border-readonly: #c6c6c6;
 */
$base-border-color      : $color-gray;
$base-border-highlight  : $color-dark-gray;
$base-border-disabled   : $color-light-gray;
$base-border-readonly   : $color-gray;


/**
 * Field Background Colors
 *
 * Color applied to field background in focus, disabled, readonly and stationary state
 * @default $base-field-background: #fff;
 * @default $base-field-highlight: #fff;
 * @default $base-field-disabled: #c6c6c6;
 * @default $base-field-readonly: #e5e5e5;
 */
$base-field-background  : $color-light-gray;
$base-field-highlight   : $color-white;
$base-field-disabled    : $color-gray;
$base-field-readonly    : $color-light-gray;


/**
 * Button colors
 */
/**
 * Default Button
 *
 * Unstyled, normal button
 * @default $base-button-color: #e5e5e5;
 * @default $base-button-text-color: #222;
 */
$base-button-color      : $color-light-gray;
$base-button-text-color : $color-dark-gray;

/**
 * Primary Action Button
 *
 * Maybe used for call-to-action button or/and save/submit buttons in forms
 * @default $base-primary-color: #009bdc;
 * @default $base-primary-text-color: #fff;
 */
$base-primary-color     : $color-primary;
$base-primary-text-color: $color-white;

/**
 * Secondary Action Button
 *
 * Useful for indication secondary action in a form near the primary action button
 * @default $base-secondary-color: #67af00;
 * @default $base-secondary-text-color: #fff;
 */
$base-secondary-color       : $color-secondary;
$base-secondary-text-color  : $color-white;

/**
 * Tertiary Action Button
 *
 * Useful for actions whether they are not fit for primary or secondary
 * @default $base-tertiary-color: #ffa900;
 * @default $base-tertiary-text-color: #fff;
 */
$base-tertiary-color        : $color-tertiary;
$base-tertiary-text-color   : $color-white;

/**
 * Cancel Action Button
 *
 * Simply used for cancel button for a form or call-to-action, confirmation etc.
 * @default $base-cancel-color: #e87352;
 * @default $base-cancel-text-color: #fff;
 */
$base-cancel-color      : $color-cancel;
$base-cancel-text-color : $color-white;