/* @author Bilal Cinarli */
/** -------------------------------------------
    Size Definitions
    ------------------------------------------- **/
/**
 * Spacing in element
 * Sets the padding sizes for an element
 * @default 10px
 */
$base-spacing: null;


/**
 * Grid gutter and columns
 * Defines the grid gutter size and column count in a row
 * $base-gutter: 20px // default
 * $base-grid-columns: 18 // default
 */

$base-gutter: null;
$base-grid-columns: null;