/**
 * @author Bilal Cinarli
 *
 * Test page styles for Melange
 */

.page-wrap {
    width: 90%;
    margin: 0 auto;
}

.main {
    padding: 50px 0;
}

.section {
    margin-bottom: 50px;
}

.section-title {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ddd;
}