/* @author Bilal Cinarli */

/** -------------------------------------------
    Grid Columns
    ------------------------------------------- **/
/**
 * Mixin for grid columns
 *
 * Apart from our generic widths, columns have gutter for spacing and they are floated by default.
 */
@mixin grid-columns(){
    $column-width: 100/$base-grid-columns;

    @for $i from 1 through $base-grid-columns {
        .#{$namespace}#{nth($numbers, $i)}-#{$column-name},
        .#{$namespace}#{nth($numbers, $i)}-#{$column-name-plural} {
            width: $column-width * $i * 1%;
        }
    }
}

/**
 * Offset settings for grid columns
 *
 * When you need much larger spacing between grid columns, you can offset a column by one or more column widths
 */
@mixin offset(){
    $column-width: 100/$base-grid-columns;
    $last-offset: $base-grid-columns - 1;

    @for $i from 1 through $last-offset {
        .#{$namespace}offset-by-#{nth($numbers, $i)} {
            margin-left: $column-width * $i * 1%;
        }
    }
}

/**
 * Row
 * Row encapsulation for columns
 */
.#{$namespace}#{$row-name} {
    @extend .group;

    &.pull {
        margin-left: -$base-gutter;
    }

    &.pull-push {
        margin-left: -$base-gutter;
        margin-right: -$base-gutter;
    }
}

/**
 * Columns
 * Better controlling the width, gutter defined as right & left padding
 */
[class*="-#{$column-name}"] {
    position: relative;
    float: left;
    padding: 0 $base-gutter;

    &.#{$namespace}#{$column-name}-parent { // for nested columns, remove paddings for the parent grid column
        padding: 0;
    }
}

/**
 * Grid Columns
 * Sets the grid columns according to column number defined in $base-grid-columns
 * @see melange/variables/_sizes.scss
 * @see settings/_sizes.scss
 */
@include grid-columns();

/**
 * Offsets
 * Sets the offsets classes according to column number defined in $base-grid-columns
 */
@include offset();
