/* @author Bilal Cinarli */

/** -------------------------------------------
    Widths for General Usage
    ------------------------------------------- **/
/**
 * Mixin for width calculations
 *
 * @param $column: defines how many chunks in one row and calculates the chunk width
 * @param $namespace prefix for classes in order to use different names for different parts
 *
 * @depends $numbers: number-to-name conversion list for human readable class names
 * @depends $ordinals: defines the human reader total chunks
 */
@mixin widths($column: 1){
    $chunk-size: 100/$column;
    $end: $column - 1; // last size always 100% so no need to define it every time

    @if $end == 0 {
        $end: 1;
    }

    @for $i from 1 through $end {
        $ord: nth($ordinals-plural, $column);

        .#{nth($numbers, $i)}-#{$ord} {
            @extend %column;
            width: ($chunk-size * $i) * 1%;
        }

        @if $column > 2 and $i == 1 {
            // also add singular version
            .#{nth($numbers, $i)}-#{nth($ordinals, $column)} {
                @extend .#{nth($numbers, $i)}-#{$ord};
            }
        }
    }
}

/**
 * Whole
 */
@include widths();


/**
 * Half
 */
@include widths(2);


/**
 * Thirds
 */
@include widths(3);


/**
 * Quarters
 */
@include widths(4);


/**
 * Fifths
 */
@include widths(5);


/**
 * Tenths
 */
@include widths(10);


/**
 * Twelfths
 */
@include widths(12);