/* @author Bilal Cinarli */

/** -------------------------------------------
    Default size definitions
    ------------------------------------------- **/
/**
 * Spacing in element
 * Sets the padding sizes for an element
 */
$base-spacing: 1em !default;


/**
 * Grid gutter and columns
 * Defines the grid gutter size and column count in a row
 */

$base-gutter: 20px !default;
$base-grid-columns: 18 !default;


/**
 * Border Widths
 *
 * Applied border with for input fields and table borders
 */
$base-border-width: 1px !default;